.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/log/*.log
test/dummy/tmp/
test/dummy/.sass-cache
.rvmrc
*.gem

.idea/.generators

.idea/.name

.idea/.rakeTasks

.idea/encodings.xml

.idea/inspectionProfiles/profiles_settings.xml

.idea/inspectionProfiles/Project_Default.xml

.idea/misc.xml

.idea/modules.xml

.idea/scopes/scope_settings.xml

.idea/translation_center.iml

.idea/vcs.xml

.idea/workspace.xml
